<div class="container">
  <div class="row center card-top">
    <div class="col s12 m12 l12 ">
      <div class="card-panel">
        <h3 class="center-align">Login</h3>
        <div class="row">
          <%= form_for(:sessions, html: {class: "col s12"}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, placeholder: "Entre com seu email", autofocus: true %>
                <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.password_field :password, placeholder: "Entre com sua senha" %>
                <%= f.label :password, "Senha", class: "active" %>
              </div>
            </div>
            <%= f.button "Entrar" , class: "grey darken-2 waves-effect waves-light btn " %>
            <!--  (@student.new_record ? "cadastrar" : "salvar") -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
